@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');
html {
	font-size: 62.5%;
}
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', 'Courier New', Courier, monospace;
}

.navbar {
	/* background: #334756; */
	/* background-image: linear-gradient(-147deg, #000000 0%, #2c3e50 74%); */
	background-color: #2d3436;
	background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
	height: 5rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo {
	font-size: 4rem;
	font-weight: 900;
	letter-spacing: 0.6rem;
	color: rgb(214, 214, 214);
	transition: 300ms;
}
.navlinks {
	display: flex;
	width: 30%;
	justify-content: space-around;
	transition: 200ms ease-in;
}
.navlinks li {
	/* background: #000; */
	padding: 1rem;
	border-radius: 5px;
	list-style: none;
	transition: 200ms ease-in-out;
}
.navlinks a {
	text-decoration: none;
	font-size: 1.5rem;
	color: rgb(230, 230, 230);
	transition: 200ms ease-in-out;
}

.navlinks li:hover {
	background-color: rgb(226, 75, 75);
}
/* hover */
.logo:hover {
	cursor: pointer;
	color: rgb(226, 75, 75);
}

@media (max-width: 700px) {
	.navlinks li {
		margin-right: 1rem;
	}
	.navlinks {
		width: 50%;
	}
}
@media (max-width: 600px) {
}
@media (max-width: 450px) {
	.navlinks {
		width: 50%;
		/* background-color: rgb(24, 106, 179); */
	}
	.navlinks li {
		/* margin-right: 0.5rem; */
		padding: 0.5rem;
	}
	.navlinks a {
		font-size: 1rem;
	}
	.logo {
		font-size: 3rem;
	}
}
@media (max-width: 300px) {
	.navlinks li {
		/* margin-right: 0.5rem; */
		padding: 0rem;
	}
	.navlinks a {
		font-size: 1rem;
	}
	.logo {
		font-size: 2rem;
	}
}
